@font-face {
    font-family: "Rubik-Bold";
    src: url("../../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../../../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

.footer {
    width: 100%;
    height: auto;
}

.contieneFooter {
    display: flex;
    width: 100%;
    height: 300px;
}
.tituloFooter {
    font-size: 1.2em;
    color: #010F1C;
    font-family: 'Rubik-Bold';
}
.navegacionTotalFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}
.navigacionFooter {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.navegacionOkFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: end;
    gap: 4em;
}