@font-face {
    font-family: "Rubik-Bold";
    src: url("../../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../../../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

.footer {
    width: auto;
    height: 200px;
    background: #FFBC21;
    padding: 50px;
    border-radius: 24px 24px 0px 0px;
}

.contieneFooter {
    display: flex;
    width: 100%;
    height: auto;
}

.tituloFooter {
    font-size: 1.2em;
    color: #010F1C;
    font-family: 'Rubik-Bold';
}

.navegacionTotalFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.navigacionFooter {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.navegacionOkFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: end;
    gap: 4em;
}

.navegacion {
    font-family: 'Poppins-Medium';
    text-decoration: none;
    color: #333333;
    font-size: .9em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

@media screen and (max-width: 480px) {
    .contieneFooter {
        padding: 50px 0px;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
    }

    .navegacionOkFooter {
        gap: 1em;
        justify-content: space-between;
    }
}