@font-face {
    font-family: "Poppins-Regular";
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}


.imgSucursales {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.contieneCardSucursalesTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contenedorSuc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.subituloSuc {
    color: #EB0029;
    font-size: 1em;
    font-family: 'Poppins-Regular';
}

.contieneCardSucursales {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contenedorSucursalesTextos {
    display: flex;
    flex-direction: column;
}

.tituloSucursales {
    font-family: 'Rubik-Bold';
    font-size: 2em;
    width: 600px;
    color: #010F1C;
    text-align: start;
}

.textoSucursales {
    font-family: 'Poppins-Regular';
    font-size: 1em;
    text-align: start;
    color: #1e1e1e;
}