@font-face {
    font-family: "Rubik-Bold";
    src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}


.contenedorHero {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 90vh;
}

.contieneTextoHero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    width: 500px;
}

.contieneImgHero {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    border-radius: 18px;
    position: relative;
}

.imgFlota {
    z-index: 9;
}

.imgReloj {
    top: 200px;
    position: absolute;
    right: 100px;
    bottom: 0;
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}


.imgFlecha {
    top: 150px;
    position: absolute;
    right: 700px;
    bottom: 0;
    rotate: 260deg;
}

.imgCard {
    position: absolute;
    right: 70px;
    bottom: 0;
    animation: flotar 5s ease-in-out infinite;
}

.imgHero {
    width: 500px;
}

.tituloHero {
    font-size: 4em;
    font-family: "Rubik-Bold";
    text-align: start;
    color: #010F1C;
}

.tituloHeroItalic {
    font-family: "Rubik-BoldItalic";
    text-align: start;
    color: #EB0029;
}

.textoHero {
    font-size: 1.125em;
    font-family: 'Poppins-Medium';
    color: #333333;
}

@media screen and (max-width: 480px) {
    .textoHero {
        font-size: .9em;
    }

    .tituloHero {
        font-size: 2em;
    }

    .contieneTextoHero {
        width: 100%;
    }

    .contenedorHero {
        flex-direction: column-reverse;
        height: auto;
        gap: 1em;
        overflow: hidden;
    }

    .contieneImgHero {
        width: 400px;
        height: 200px;
    }

    .imgHero {
        width: 300px;
    }

    .imgFlecha {
        top: 150px;
        right: 250px;
        width: 70px;
        rotate: 228deg;
    }

    .imgReloj {
        display: none;
    }

    .imgCard {
        right: 0px;
        bottom: 390px;
        width: 200px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .textoHero {
        font-size: .9em;
    }

    .tituloHero {
        font-size: 2em;
    }

    .contieneTextoHero {
        width: 100%;
    }

    .contenedorHero {
        flex-direction: column-reverse;
        height: auto;
        gap: 1em;
        overflow: hidden;
    }

    .contieneImgHero {
        width: 400px;
        height: 200px;
    }

    .imgHero {
        width: 300px;
    }

    .imgFlecha {
        top: 150px;
        right: 250px;
        width: 70px;
        rotate: 228deg;
    }

    .imgReloj {
        display: none;
    }

    .imgCard {
        right: 0px;
        bottom: 390px;
        width: 200px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .imgHero {
        width: 350px;
    }
.imgFlecha {
    right: 500px;
}
    .contieneImgHero {
        width: 700px;
        overflow: unset;
    }
    .contenedorHero {
        gap: 3em;
    }
    .tituloHero {
        font-size: 3.5em;
    }
}