@font-face {
    font-family: "Rubik-Bold";
    src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}


.contenedorHero {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 90vh;
}

.contieneTextoHero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    width: 500px;
}

.contieneImgHero {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    border-radius: 18px;
}

.imgHero {
    width: auto;
}

.tituloHero {
    font-size: 4em;
    font-family: "Rubik-Bold";
    text-align: start;
    color: #010F1C;
}

.tituloHeroItalic {
    font-family: "Rubik-BoldItalic";
    text-align: start;
    color: #EB0029;
}

.textoHero {
    font-size: 1.125em;
    font-family: 'Poppins-Medium';
    color: #333333;
}