@font-face {
    font-family: "Chillax-Bold";
    src: url("../../assets/fonts/Chillax/Chillax-Bold.otf") format("truetype");
}

@font-face {
    font-family: "Chillax-Medium";
    src: url("../../assets/fonts/Chillax/Chillax-Medium.otf") format("truetype");
}


.card {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    width: 350px;
    height: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardImg {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoVega {
    width: 100%;
}

.textosCard {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    align-items: flex-start;
    gap: .5em;
}

.tituloCardLugar {
    font-size: 1.2em;
    font-family: 'Chillax-Bold';
    color: #1e1e1e;
}

.textoCardLugar {
    color: #1e1e1e;
    font-size: .9em;
    font-family: 'Chillax-Medium';
}

.iconoText {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
}