@font-face {
    font-family: "Poppins-Regular";
    src: url("../../assets//fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../../assets//fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.contenedorEmpanada {
    width: 350px;
    height: 350px;
    display: flex
;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 0px;
}

.imgEmpanadas {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: flex
;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.sabor {
    object-fit: cover;
    width: 100%;
}

.contenedorEmpanada:hover {
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}

.nombreEmpanada {
    font-size: 1em;
    color: #333333;
    font-family: 'Rubik-Bold';
    text-align: center;
}


.infoEmpanada {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
}


@media screen and (max-width: 480px) {
    .contenedorEmpanada {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: .5em;
    }

    .imgEmpanadas {
        width: 200px;
        height: 200px;
        border-radius: 12px;
    }

    .nombreEmpanada {
        font-size: 1em;
    }

    .sabor {
        width: 200px;
    }

}



