@font-face {
    font-family: "Poppins-Regular";
    src: url("../../assets//fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../../assets//fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.contenedorEmpanada {
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    background: white;
    cursor: pointer;
    margin-bottom: 70px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.contenedorEmpanada:hover {
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}

.descripcionEmpanada {
    font-size: .9em;
    font-family: 'Poppins-Regular';
    color: #333333;
}

.textosOrdenCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nombreEmpanada {
    font-size: 1em;
    color: #333333;
    font-family: 'Rubik-Bold';
}

.sabor {
    object-fit: cover;
    width: 300px;

}

.imgEmpanadas {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    width: 120px;
    height: 120px;
    border: .3em solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 150px;
    overflow: hidden;
}

.infoEmpanada {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    height: auto;
    justify-content: space-between;
}


@media screen and (max-width: 480px) {
    .contenedorEmpanada {
        width: 40px;
        padding: 15px;
    }
    .descripcionEmpanada {
        font-size: .8em;
    }
    .nombreEmpanada {
        font-size: 1em;
    }
    .imgEmpanadas {
        width: 100px;
        height: 100px;
    }
    .sabor {
        width: 250px;
    }
}