@font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

.contenedorNav {
  width: 100%;
}

.logoNav {
  width: 60px;
}
.contenedorUl {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navegacionTotal {
  display: flex;
  gap: 3em;
  align-items: center;
}

.navegacion {
  font-family: 'Poppins-Medium';
  text-decoration: none;
  color: #333333;
  font-size: .9em;
}