@font-face {
    font-family: "Chillax-Bold";
    src: url("../../assets/fonts/Chillax/Chillax-Bold.otf") format("truetype");
}

.contenedorNav {
  width: 100%;
}

.logoNav {
  width: 60px;
}
.contenedorUl {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navegacionTotal {
  display: flex;
  gap: 3em;
  align-items: center;
}

.navegacion {
  font-family: 'Chillax-Medium';
  text-decoration: none;
  color: #CA3001;
  font-size: 1em;
}