@font-face {
    font-family: "Rubik-Bold";
    src: url("../../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../../../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}


.contenedorNosotros {
    margin: 100px 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 2em;
}

.subtituloNosotros {
    color: #EB0029;
    font-size: 1em;
    font-family: 'Poppins-Regular';
}

.contieneNosotrosTexto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 400px;
}

.videoContainer {
    width: 600px;
    height: 700px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.videoFabrica {
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
}

.nosotrosTitulo {
    font-family: 'Rubik-Bold';
    font-size: 2em;
    color: #010F1C;
}

.nosotrosTexto {
    font-family: 'Poppins-Regular';
    font-size: 1em;
    text-align: start;
    color: #1e1e1e;
    background-color: white;
}


@media screen and (max-width: 480px) {
    .contenedorNosotros {
        flex-direction: column-reverse;
        height: auto;
        gap: 2em;
    }

    .videoContainer {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contieneNosotrosTexto {
        width: 100%;
    }

    .subtituloNosotros {
        font-size: .8em;
    }

    .nosotrosTexto {
        font-size: .9em;
    }

    .nosotrosTitulo {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .contenedorNosotros {
        flex-direction: row;
        gap: 2em;
    }

    .videoContainer {
        width: 350px;
        height: 500px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

}