@font-face {
    font-family: "Poppins-Regular";
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}




.subtituloBanner {
    color: #EB0029;
    font-size: 1em;
    font-family: 'Poppins-Regular';
}

.bannerTitulo {
    font-family: 'Rubik-Bold';
    font-size: 2em;
    width: 600px;
    color: #010F1C;
    text-align: center;
}

.bannerTituloContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contieneBanner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.ordenPasos {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 221, 204, 0.25);
    padding: 20px;
    border-radius: 18px;
}

.textosBannerPasos {
    font-size: .9em;
    font-family: 'Poppins-Regular';
    text-align: center;
}

.tituloPasosBanner {
    color: #010F1C;
    font-family: 'Poppins-Bold';
    font-size: 1em;
}

.pasosImgTextos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.imgPasos {
    margin-bottom: 20px;
}

.textosOrdenBanner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}

@media screen and (max-width: 480px) {
    .textosBannerPasos {
        font-size: .9em;
        font-family: 'Poppins-Regular';
        text-align: center;
    }

    .tituloPasosBanner {
        color: #010F1C;
        font-family: 'Poppins-Bold';
        font-size: 1em;
    }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .contieneBanner {
        height: auto;
        margin: 5em 0em;
    }

    .bannerTitulo {
        font-size: 1.8em;
        width: 100%;
        font-family: 'Rubik-Bold';
    }

    .subtituloBanner {
        font-size: .8em;
        font-size: 'Poppins-Regular';
    }

    .ordenPasos {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .imgPasos {
        width: 170px;
    }

    .tituloPasosBanner {
        font-size: 1em;
        font-family: 'Poppins-Bold';
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .imgPasos {
        width: 200px;
    }

    .pasosImgTextos {
        width: 300px;
    }

    .textosBannerPasos,
    .tituloPasosBanner {
        text-align: center;
        margin: 0px;
    }

    .textosOrdenBanner {
        height: auto;
        justify-content: space-between;
    }
}