.empanadasContenedor {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.contenedorEmpanadasTextos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.textoEmpanadasTotal {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subituloEmpanadas {
    color: #EB0029;
    font-size: 1em;
    font-family: 'Poppins-Regular';
    text-align: center;
}

.textoEmpanadas {
    font-family: 'Poppins-Regular';
    font-size: 1em;
    text-align: center;
    color: #1e1e1e;
}

.tituloEmpanadas {
    font-family: 'Rubik-Bold';
    font-size: 2em;
    width: 600px;
    color: #010F1C;
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 3em;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
}

.cardsContainer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.switch {
  position: sticky;
  top: 0;
  z-index: 990;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 15px 0;
  width: 100%;
}


/* .switch {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 50px 0px;
} */

.tipoSwitch {
    background-color: white;
    border: 1px solid #EB0029;
    width: 150px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #EB0029;
    font-size: .9em;
    font-family: 'Poppins-Medium';
}

.tipoSwitch:hover,
.tipoSwitch.active {
    background-color: #CA3001;
    color: white;
    transition: .2s all ease-in-out;
    border: 1px solid #CA3001;
}



@media only screen and (min-width: 0px) and (max-width: 768px) {
    .empanadasContenedor {
        padding: 0px;
    }

    .carousel {
        margin-top: 50px;
        gap: 0px;
    }

    .textoEmpanadasTotal {
        width: 100%;
    }

    .subituloEmpanadas {
        font-size: .8em;
    }

    .tituloEmpanadas {
        font-size: 1.8em;
        width: 100%;
    }

    .textoEmpanadas {
        font-size: .9em;
    }

    .switch {
        gap: 1em;
    }

    .tipoSwitch {
        width: 120px;
        font-size: .8em;
        padding: 10px;
    }

}
